{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        {% if not session.get("username") %}
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="off" class="form-control mx-auto w-auto" name="old_password" placeholder="Old password" type="password">
            </div>
        {% else %}
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="old_password" placeholder="Old password" type="password">
            </div>
        {% endif %}
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="new_password" placeholder="New password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="New password (again)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
    {% if apology %}
        <div class="alert alert-danger mt-3" role="alert">
            <p>{{ apology }}</p>
        </div>
    {% endif %}
{% endblock %}
