{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    {% if apology %}
        <div class="alert alert-danger mt-3" role="alert">
            <p>{{ apology }}</p>
        </div>
    {% elif success %}
        <div class="alert alert-success mt-3" role="alert">
            <p>{{ success }}</p>
        </div>
    {% endif %}
{% endblock %}
